.header {
  text-align: center;
  color: white;
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.header-content {
  text-align: left;
  font-family: 'Lora', serif;
  padding-left: 8%;
}

.header-title {
  color: darkwhite;
  font-size: 8rem;
  font-weight: bold;
  margin-top: 8px;
}

.header-tagline {
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  margin-top: 0px;
}
